@model LoginViewModel
@{
    Model.Title = "管理员登陆";
}
<div class="group">
    <div class="panel">
        <div class="panel-title">登陆</div>
        <div class="panel-content">
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="group error">
                    @Model.Error
                </div>
            }
            <form action="/admin/login" method="POST">
                <table class="form">
                    <colgroup>
                        <col width="80px"/>
                        <col/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>用户名：</td>
                            <td>
                                <input type="text" class="txt" value="@Model.Username" name="username"/>
                            </td>
                        </tr>
                        <tr>
                            <td>密码：</td>
                            <td>
                                <input type="password" class="txt" value="@Model.Password" name="password" />
                            </td>
                        </tr>
                        <tr>
                            <td>验证码：</td>
                            <td>
                                <div class="group">
                                    @Html.Captcha()
                                </div>
                                <div class="group">
                                    <input type="text" class="txt" name="captcha" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="checkbox" value="true" id="cbRemember" name="rememberMe" @Html.IsChecked(Model.RememberMe)/>
                                <label for="cbRemember">30天自动登陆</label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="登 陆" id="btnSubmit" class="btn"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>