@using MvcSolution
@using MvcSolution.Services.WinServices
@model List<MvcSolution.Services.WinServices.TaskDto>

<table class="data">
    <colgroup>
        <col width=""/>
        <col width="150" />
        <col width="250" />
        <col width="200" />
        <col width="100" />
    </colgroup>
    <thead>
        <tr>
            <th>任务</th>
            <th class="center">状态</th>
            <th>工作时间</th>
            <th>上次</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.OrderBy(x => x.Name))
        {
            <tr data-id="@task.Id">
                <td>
                    <h4>@task.Name</h4>
                    <p>@task.Description</p>
                </td>
                <td class="task-@(task.Status) center">
                    @task.Status.GetText()
                </td>
                <td>@task.IntervalDescription</td>
                <td>
                    开始：@task.LastWorkStartedTime.ToFullStr()<br/>
                    结束：@task.LastWorkCompletedTime.ToFullStr()<br/>
                    耗时：@task.LastWorkDuration
                </td>
                <td>
                    <a href="javascript:void(0);" class="task-details">操作</a> |
                    <a href="/winservice/log?taskId=@task.Id">日志</a>
                </td>
            </tr>
        }
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="5" class="empty">没有找到数据。</td>
            </tr>
        }
    </tbody>
</table>