@using Za.Services.WinServices
@model MvcSolution.Data.Entities.ScheduledTask
@{
    var status = Model.GetStatus();
}

    <div class="group" data-task-id="@Model.Id">
        <input type="button" value="启动" class="task-btn-start" @Html.IsDisabled(status != TaskStatus.Stopped) />
        <input type="button" value="停止" class="task-btn-stop" @Html.IsDisabled(status != TaskStatus.Running) />
        <input type="button" value="更新DLL" class="task-btn-updatedll" @Html.IsDisabled(status != TaskStatus.Stopped) />
        <input type="button" value="删除" class="task-btn-delete" @Html.IsDisabled(status != TaskStatus.Stopped) />
        <input type="button" value="立即执行工作" class="btn-run-immediately" @Html.IsDisabled(status != TaskStatus.Running || Model.RunImmediately) title="只有当任务在运行中才能启动立即执行" />
        <input type="button" value="刷新" class="btn-refresh-details" />
    </div>
    <div class="group">描述：@Model.Description</div>
    <div class="group">版本：@Model.Version</div>
    <div class="group">时间：@Model.IntervalDescription</div>
    <div class="group">状态：<span class="task-@status">@status.GetText()</span></div>

    <div class="group">
        <table class="data">
            <colgroup>
                <col width="120" />
                <col width="" />
                <col width="120" />
                <col width="" />
            </colgroup>
            <tbody>
                <tr>
                    <td class="label">上次工作版本</td>
                    <td><span class="@(Model.Version != Model.LastWorkedVersion ? "task-version-warning" : string.Empty)">@Model.LastWorkedVersion</span></td>
                    <td class="label">创建时间</td>
                    <td>@Model.CreatedTime.ToFullStr()</td>
                </tr>
                <tr>
                    <td class="label">上次工作开始</td>
                    <td>@Model.LastWorkStartedTime.ToFullStr()</td>
                    <td class="label">上次更新</td>
                    <td>@Model.LastUpdatedTime.ToFullStr()</td>
                </tr>
                <tr>
                    <td class="label">上次工作完成</td>
                    <td>@Model.LastWorkCompletedTime.ToFullStr()</td>
                    <td class="label">上次启动</td>
                    <td>@Model.StartedTime.ToFullStr()</td>
                </tr>
                <tr>
                    <td class="label">上次工作耗时</td>
                    <td>@Model.GetLastWorkDuration()</td>
                    <td class="label">上次停止</td>
                    <td>@Model.StoppedTime.ToFullStr()</td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td></td>
                    <td class="label">DLL存在</td>
                    <td>@(Model.DllExists ? "是" : "否")</td>
                </tr>
            </tbody>
        </table>
    </div>